<div class="row">
    <h1 class="titulo">Hard & Soft Skills</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/crearH" *ngIf="isLogged">
            Crear Skill
        </button>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let skill of skill">
        <circle-progress
        [percent]="(skill.porcentaje)"
        [radius]="100"
        [imageSrc]="''"
        [title]="(skill.nombre)"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
        <td *ngIf="isLogged">
            <button routerLink="/editarH/{{skill.id}}">Modificar</button>
        </td>
        <td *ngIf="isLogged"><button (click)="delete(skill.id)">Eliminar</button></td>
    </div>
</div>