<div class="row">
    <h1 class="titulo">Experiencia</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Crear experiencia
        </button>
    </div>
    <table class="tabla">
        <tbody>
            <tr *ngFor="let Experiencia of exp">
                <td>
                    <h2>{{Experiencia.nombreE}}</h2>
                </td>
                <td>{{Experiencia.descripcionE}}</td>
                <td *ngIf="isLogged">
                    <button routerLink="/editarexp/{{Experiencia.id}}" class="btn btn-dark">Modificar</button>
                </td>
                <td *ngIf="isLogged"><button (click)="delete(Experiencia.id)" class="btn btn-dark">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>