*{
    /* background: #604B65; */
    box-sizing: border-box;
}
.container-components{
    margin: auto;
    width: 85%;
    height: 100vh;
    padding: 50px;
    font-size: 50px;
}
.presentation article p{
    font-size: 1.5rem;
}

