<div class="pos-f-t" style="height: 100px;">
    <nav class="navbar">
      <div class="ArgProg">
        <button class="navbar-toggler" type="button" routerLink="">
          <img [src]="ArgProg" alt="" height="50px">
        </button>  
      </div>
      <div class="Quick">
        <button routerLink="" class="navbar-toggler" type="button">
          <img [src]="Home" alt="" height="30px">
        </button>
        <button routerLink="/profile"class="navbar-toggler" type="button">
          <img [src]="About" alt="" height="30px">
        </button>
        <button routerLink="/contact"class="navbar-toggler" type="button">
          <img [src]="Contact" alt="" height="30px">
        </button>
        <button class="navbar-toggler Login" type="button" (click)="login()" *ngIf="isNotLogged">Login</button>
        <button class="navbar-toggler Login" type="button" (click)="onLogOut()" *ngIf="isLogged">LogOut</button>
      </div>
    </nav>
      <div class="container-medias">
        <div class="medias" >
          <ul>
            <li>
              <a href="https://github.com/iilnatan" target="_blank"><img [src]="GitHub" alt=""></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/marco-natan-buffa-b62120254/" target="_blank"><img [src]="Linkedin" alt=""></a>
            </li>
            <li>
              <a href="https://www.instagram.com/marco.buffa_/" target="_blank"><img [src]="Instagram" alt=""></a>
            </li>
            <li>
              <a href="https://twitter.com/ilnataan" target="_blank"><img [src]="Twitter" alt=""></a>
            </li>
          </ul>
        </div>
        <div class="line"></div>
    
      </div>
  </div>