<div class="pos-f-t" style="height: 100px;">
    <nav class="navbar">
      <div class="ArgProg">
        <button class="navbar-toggler" type="button">
          <img [src]="ArgProg" alt="" height="50px">
        </button>  
      </div>
      <div class="Quick">
        <button class="navbar-toggler" type="button">
          <img [src]="Home" alt="" height="30px">
        </button>
        <button class="navbar-toggler" type="button">
          <img [src]="About" alt="" height="30px">
        </button>
        <button class="navbar-toggler" type="button">
          <img [src]="Contact" alt="" height="30px">
        </button>
        <button class="navbar-toggler Login" type="button">
          <p class="Login">Login</p>
        </button>
      </div>
    </nav>
      <div class="container-medias">
        <div class="medias" >
          <ul>
            <li>
              <a href=""><img [src]="GitHub" alt=""></a>
            </li>
            <li>
              <a href=""><img [src]="Linkedin" alt=""></a>
            </li>
            <li>
              <a href=""><img [src]="Instagram" alt=""></a>
            </li>
            <li>
              <a href=""><img [src]="Twitter" alt=""></a>
            </li>
          </ul>
        </div>
        <div class="line"></div>
    
      </div>
  </div>