<div class="row">
    <h1 class="titulo">Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/creared" *ngIf="isLogged">
            Crear Educacion
        </button>
    </div>
    <table class="tabla">
        <tbody>
            <tr *ngFor="let Educacion of ed">
                <td class="nombre">
                    <h2>{{Educacion.nombreEd}}</h2>
                </td>
                <td class="descripcion">{{Educacion.descripcionEd}}</td>
                <td *ngIf="isLogged">
                    <button routerLink="/editared/{{Educacion.id}}" class="btn btn-dark">Modificar</button>
                </td>
                <td *ngIf="isLogged"><button (click)="delete(Educacion.id)" class="btn btn-dark">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>